
$transition-duration: 0.3s;
$transition-delay: 0.2s;

.teamSection {
	margin-bottom: 10%;
	.teamHead {
		font-size: px;
		color: #45469b;
		line-height: 1.2;
		letter-spacing: 0;
		text-align: center;
		margin-bottom: 35px;
	}
	.teamtext {
		font-size: 23.6px;
		color: #363636;
		line-height: 2;
		letter-spacing: 0;
		width: 1290px;
		max-width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.taem_lead {
		.lead_item {
			.team_img {
                .name_div{
                    color: whitesmoke;
                    position: absolute;
                    width: calc(100% - 70px);
                    top: 32px;
                    	left: 0;
					right: 0;
					margin: 0 auto;
                    opacity: 0;
                    transition: opacity 1s;
                   
                }
					.name {
                        font-size: 20px;
						color: white;
						font-weight: 700;
					}
					.post {
						font-size: 20px;
						color: white;
					}
				    width: 416px;
                    height: 520px;
                	transition: background 0.8s;
                    border-radius: 20px;
                    overflow: hidden;
                    position: relative;
                    cursor: pointer;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;



                    .border-custom {
                        position: absolute;
                        left: 0;
                        background: white;
                        transition: transform $transition-duration ease-in-out;
                    }
                    .border-top {
                        width: 100%;
                        height: 1px;
                        transform: scaleX(0);
                        top: 0;
                        transform-origin: top left;
                    }
                    .border-bottom {
                        width: 100%;
                        height: 1px;
                        transform: scaleX(0);
                        bottom: 0;
                        transform-origin: bottom right;
                    }
                    .border-left {
                        width: 1px;
                        height: 100%;
                        transform: scaleY(0);
                        top: 0;
                        transform-origin: bottom left;
                    }
                    .border-right {
                        width: 1px;
                        height: 100%;
                        transform: scaleY(0);
                        top: 0;
                        left: auto;
                        right: 0;
                        transform-origin: top right;
                    }
                   
                    }
                    padding-bottom: 20px;
                    display: inline-flex;
                }
            }
        }
        .card-1{
            background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/about-us/img/ceo-round-416x520.png') center center no-repeat;
            background-size: 416px;
            &:hover{
                background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/about-us/img/ceo-round-416x520.png') left top no-repeat;
                background-size: 800px;
                .icons{
                    opacity: 1 !important;
                }
                .name_div{
                    opacity: 1 !important;
                }
              
                
            }
        }
        .card-2{
            background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/about-us/img/director-round-416 x 520.png')  center center no-repeat;
            background-size: 416px;
            &:hover{
                background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/about-us/img/director-round-416 x 520.png')  left top no-repeat;
                background-size: 800px;
               .icons{
                   opacity: 1 !important;
               }
               .name_div{
                opacity: 1 !important;
            }

            }
        }
        .card-3{
            background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/about-us/img/sumit-kapoor-round-416 x 520.png')  center center no-repeat;
            background-size: 416px;
            &:hover{
                background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/about-us/img/sumit-kapoor-round-416 x 520.png')  left top no-repeat;
                background-size: 800px;
               .icons{
                   opacity: 1 !important;
               }
               .name_div{
                opacity: 1 !important;
            }
            }
        }
.icons {
	position: absolute;
	width: 50px;
    bottom: 32px;
    left:20px;
    text-align: center;
    margin: 0 auto;
	display: flex;
	flex-direction: column;
    font-size: 20px;
	justify-content: space-around;
    opacity: 0;
	transition: opacity 1s;
}  

.custom-hover{
    position: relative;
    display: block;
    padding: 10px;
    fill: #fff;
	color: #fff;
    transition: all 0.5s;
    &:hover{
        .border-top {
            transform: scaleX(1) !important;
        }
        .border-bottom {
            transform: scaleX(1) !important;
            transition-delay: calc($transition-delay * 2);
        }
        .border-left {
            transform: scaleY(1) !important;
            transition-delay: calc($transition-delay * 3);
        }
        .border-right {
            transform: scaleY(1) !important;
            transition-delay: $transition-delay;
        }


    }
}
.linked-in-hover{
    &:hover{
        color: #0e76a8 !important;
    }
}
.instagram-hover{
        &:hover{
            color:#dc2743 !important; 
        }
}
.twitter-hover{
    &:hover{
        color: 	#1DA1F2 !important;
    }
}
.facebook-hover{
    &:hover{
        color: 	#3b5998 !important;
    }
}
